* {
	box-sizing: border-box;
}

body {
	background-color: #FFF;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

header {
	background-color: cadetblue;
	/* position: fixed;
	width: 100%; */
	overflow: hidden;
	/* padding: 20px 10px; */
}

header li {
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	width: 120px;
}

header li:hover {
	/* when you hover over list items */
	color: #DBE9EE;
  }

/* 
h1 {
	color: #004E89;
	font-family: 'Yantramanav', sans-serif;
	font-size: 50px;
	font-weight: 400;
	margin: 0;
	text-align: center;
  }
  
  h2 {
	color: #AAA;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
  }
  
  p {
	color: #333;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16px;
	font-weight: 100;
	margin: 0;
	text-align: center;
  } */